.group-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e7ebf4;
    min-height: 250px;
    box-shadow: 10px 10px 24px #eaebef, -10px -10px 24px #ffffff;
}